
@{
    
    ViewBag.Title = "Accueil";
    Layout = "~/Views/Shared/_LayoutStablePage1.cshtml";
}


    <ul class="page-breadcrumb breadcrumb">
    <li>
        
        <a href="~/Home/Accueil">Accueil</a>
        <i class="fa fa-circle"></i>
    </li>

</ul>


<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="row">
    <div class="col-md-12">
        Bonjour ;)<br />
        hgjksgfsjgdjs dsfgskqfhgsdjhfg hgdsfsqhh dshqgfsh hgjkhds jkqshdjhqkldjhqkljhj<br />
        dhgfish dfsgfhg dfqskjhghbc hgqikfhsdfb
    </div>
</div>

